## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

##GitIgnore
CMakeFiles/*
cmake_install.cmake

##PYTHON
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*

#C++

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

##COdeblcoks

#codeblocks files
*.layout
*.depend
